/***************** page style *****************/
/***************** start header *****************/
header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    text-transform: uppercase;
    background-color: #1a1a1a;
    overflow: hidden;
    padding: 5px 40px;
}
header .logo{
    float: left;
    width: 25%;
}
header .logo a{
    font-size: 30px;
    letter-spacing: 5px;
}
header nav{
    width: 50%;
    float: left;
}
header nav ul{
    text-align: center;
}
header nav ul li{
    display: inline-block;
    margin-right: 60px;
}
header .slider{
    float: right;
    width: 25%;
    text-align: right;
}
header .slider a i{
    font-size: 25px;
}
header nav ul li a:hover{
    color: #f14201;
}

/***************** start main *****************/
main{
    position: relative;
    bottom: 500px;
    z-index: 10;
    
}

/***************** start banner *****************/
.banner{
    background-image: url(../images/distortion.jpg);
    height: 1580px;
    position: relative;
    z-index: 50;
    background-size: none;
}
.banner .overlay{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    /*background: rgba(0, 0, 0, 0.0);*/
    position: absolute;
    z-index: 51;
    opacity: 0.4;
}
.banner .container{
    text-align: center;
    position: absolute;
    z-index: 52;
    left: 50px;
    right: 50px;
    top: 0;
    bottom: 0;
}
.banner .container h5{
    font-size: 24px;
    padding: 600px 0 20px;
}
.banner .container h1{
    padding-bottom: 60px;
    font-size: 100px;
    width: 60%;
    margin: auto;
    text-transform: capitalize;
}
.banner .container p{
    font-size: 24px;
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}
.banner .container a {
    font-size: 30px;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 8px;
}

/***************** start partners *****************/
.partners{
    padding: 40px 0 20px;
}
.partners .container{
    text-align: left;
}
.partners .container .logo-block{
    line-height: 110px;
    overflow: hidden;
}
.partners .partner-logo{
    float: left;
    width: 19%;
    margin: 0 0.5%;
    opacity: 0.5;
    text-align: center;
}
.partners .partner-logo:hover{
    opacity: 1;
}

/***************** start about *****************/
.about .container{
    padding: 150px 0;
}
.about .upper .left{
    font-size: 43px;
    width: 90%;
}
.about .upper .right{
    font-size: 18px;
    color: #999;
    line-height: 32px;
}
/**************************************************/
.about .lower{
    margin: 0 60px;
}
.about .lower .column{
    margin: 0 1%;
    padding: 0;
    height: 500px;
}
.about .lower .column .container{
    width: 100%;
    padding: 35px 20px ;
}
.about .lower .column h6{
    font-size: 20px;
    margin-bottom: 10px;
}
.about .lower .column h4{
    margin-bottom: 30px;
    font-size: 33px;
}
.about .lower .column p{
    line-height: 32px;
    margin-bottom: 60px;
    height: 200px;
}
.about .lower .column .arrow i{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.about .lower .col-1{
    background-image: url(../images/card-image-1.jpg);
}
.about .lower .col-2{
    background-image: url(../images/card-image-2.jpg);
}
.about .lower .col-3{
    background-image: url(../images/card-image-3.jpg);
}
.about .lower .col-4{
    background-image: url(../images/card-image-4.jpg);
}

/***************** start why-us *****************/
.feature{
    padding: 150px 0;
}
.feature .why-us{
    text-align: center;
}
.feature .why-us h6{
    color: #999;
    margin-bottom: 15px;
}
.feature .why-us h5{
    font-size: 32px;
    margin-bottom: 25px;
}
.feature .why-us p{
    width: 55%;
    margin: auto;
    color: #999;
    margin-bottom: 100px;
}
/***************************************************/
.feature .row .column{
    text-align: center;
    margin: 01%;
}
.feature .row .column h6{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature .row .column p{
    color: #999;
    line-height: 32px;
}
.feature .row .column .icon i{
    font-size: 80px;
    margin-bottom: 30px;
    color: #f14201;
    height: 60px;
    line-height: 60px;
}

/***************** start Latest-Projects *****************/
.Latest-Projects{
    padding-bottom: 70px;
}
.Latest-Projects .container{
    overflow: hidden;
} 
.Latest-Projects .tittle{
    width: 25%;
    float: left;
}
.Latest-Projects .tittle h3{
    font-size: 32px;
}
.Latest-Projects nav{
    width: 75%;
    float: right;
}
.Latest-Projects nav ul{
    text-align: right;
}
.Latest-Projects nav ul li .base{
    color: #f14201;
    padding-bottom: 2px;
    border-bottom: 1px solid #f14201;
}
.Latest-Projects nav ul li{
    display: inline-block;
    margin-right: 40px;
}
/***************** start home-banner *****************/
.home{
    background-image: url(../images/home-slide-2.jpg);
    height: 1080px;
}
.home .container h5{
    font-size: 24px;
    padding: 100px 0 20px;
}

/***************** start collapse-block *****************/
.collapse-block{
    padding: 150px 0;
}
.collapse-block h5{
    width: 60%;
    font-size: 32px;
    margin-bottom: 25px;
    line-height: 40px;
}
.collapse-block p{
    width: 75%;
    margin-bottom: 80px;
    color: #999;
    line-height: 30px;
}
.collapse-block .list{
    width: 75%;
}
.collapse-block .list .element{
    overflow: hidden;
    padding: 23px 0;
    border-bottom: 2px solid white;
}
.collapse-block .list .item{
    float: left;
}
.collapse-block .list .item a{
    font-size: 20px;
}
.collapse-block .list .arrow{
    float: right;
    width: 20px;
    height: 20px;
}
.collapse-block .list .element .arrow i{
    font-size: 25px;
    line-height: 20px;
}
.collapse-block .position-controll{
    position: relative;
    width: 500px;
    height: 500px;
}
.collapse-block .position-controll .video-img{
    position: absolute;
    z-index: 53;
    left: 0;
    bottom: 0;
    width: 412px;
    height: 420px;
}
.collapse-block .position-controll .video-img img{
   width: 100%;
   height: 100%;
}
.collapse-block .position-controll .img{
    position: absolute;
    z-index: 40;
    top: 0;
    right: 0;
    width: 412px;
    height: 420px;
    background-image: url(../images/dot-dark.jpg);
    background-size: initial;
} 
/***************** start reviews*****************/
.reviews{
    padding-top: 130px;
}
.reviews .review-header{
    overflow: hidden;
    padding-bottom: 50px;
}
.reviews .review-header .tittle{
    float: left;
}
.reviews .review-header h5{
    font-size: 32px;
}
.reviews .review-header .more-link{
    float: right;
}
.reviews .review-header .more-link a{
    color: #999;
}

/*************************************************/
.reviews .review-content{
    margin: 0 30px 50px 0;
    padding: 30px 40px 40px;
}
.reviews .review-content .review-status {
    padding-bottom: 25px;
    overflow: hidden;
}
.reviews .review-content .review-status h6{
    font-size: 25px;
    padding-bottom: 25px;
    float: left;
}
.reviews .review-content .review-status .rate{
    float: left;
    padding: 6px 0 0 5px;
}
.reviews .review-content .review-status .rate i{
    color: #67a900;
}
.reviews .review-content .review-status .last i{
    opacity: 0.5;
}
.reviews .review-content .review-status p{
    font-size: 18px;
    line-height: 30px;
}
/***************************************************/
.reviews .review-footer{
    background: none;
    padding-bottom: 150px;
}
.reviews .review-footer .column{
    height: 60px;
    opacity: 0.5;
}
.reviews .review-footer .column:hover{
    opacity: 1;
}
.reviews .review-footer .base{
    opacity: 1;
}
.reviews .review-footer .column-3 .person{
    overflow: hidden;
    height: 60px;
}
.reviews .review-footer .person-img{
    float: left;
    width: 50px;
    height: 50px;
}
.reviews .review-footer .person-img img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.reviews .review-footer .person-details{
    float: left;
    padding-left: 30px;
}
.reviews .review-footer .person-details .person-role{
    font-size: 14px;
}
.reviews .review-footer .person-details a{
    color: #09c;
    font-size: 14px;
}

/***************** start team *****************/
.team .container{
    padding-bottom: 100px;
    border-bottom: 2px solid #666;
}

.team .row .column .img{
    margin-bottom: 15px;
}
.team .row .column .img img{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.team .row .column .upper-col:hover .img img{ 
    opacity: 0.5;
}
.team .row .column .upper-col:hover h6{ 
    color: #f14201;
}
.team .row .column h6{
    font-size: 20px;
    margin: 0;
}
.team .row .column p{
    font-size: 14px;
}

/***************** start achievements *****************/
.achievements{
    padding-bottom: 150px;
}
.achievements .container{
    text-align: center;
}
.achievements h6{
    margin-bottom: 10px;
}
.achievements h4{
    font-size: 32px;
    margin-bottom: 100px;
}
.achievements .row {
    text-align: left;
    padding-bottom: 60px;
}
.achievements .first{
    padding: 0px;
}
.achievements .row .column{
    padding-right: 40px;
    margin-top: 50px;
}
.achievements .row .year{
    font-size: 30px;
    text-align: center;
}
.achievements .row p{
    font-size: 20px;
}
.achievements .row p span{
    font-size: 20px;
    color: #f14201;
}

/***************** start latest *****************/
.latest {
    background-image: url(../images/dot-dark.jpg);
    background-size: initial;
    padding: 150px 0;
}
.latest .container{
    text-align: center;
}
.latest .container h6{
    margin-bottom: 20px;
    color: #666;
}
.latest .container h5{
    font-size: 32px;
    margin-bottom: 90px;
}
.latest .container .row .column{
    margin: 0 1%;
    padding: 0;
    height: 210px;
}
.latest .container .row .col-1{
    background-image: url(../images/home-slide-2.jpg);
}
.latest .container .row .col-2{
    background-image: url(../images/home-slide-8.jpg);
}
.latest .container .row .col-3{
    background-image: url(../images/home-slide-9.jpg);
}
.latest .container .row .col-container{
    text-align:left;
    margin-top: 100px;
    padding: 0px 15px;
    overflow: hidden;
    line-height: 25px;
}
.latest .container .row .post{
    float: left;
}
.latest .container .row .date{
    float: left;
    padding-left: 5px;
}
.latest .container .row .post p{
    font-size: 14px;
}
.latest .container .row .date p{
    font-size: 14px;
    color: #ccc;
}
.latest .container .row .tittle p{
    font-size: 18px;
}

/***************** start footer *****************/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    padding: 100px 0;
}
footer .container{
    width: 93%;
    padding: 0;
}
footer .content{
    padding-bottom: 100px;
}
footer .content .row .column-4 h6{
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 20px;
}
footer .content .row .column-4 p, footer .content .row .column-4 a, footer .content .row .column-4 ul li{
    color: #999;
    line-height: 30px;
}
footer .content .row .column-4 ul li a{
    color: #999;
}
footer .content .row .column-4 .subscribe{
    overflow: hidden;
    margin-top: 16px;
    padding: 10px 5px;
}
footer .content .row .column-4 .subscribe input{ 
    float: left;
    width: 60%;
    background: none;
    padding-top: 5px;
}
footer .content .row .column-4 .subscribe .btn{ 
    float: right;
    width: 38%;
    margin-left: 2%;
}
footer .content .row .column-4 .subscribe .btn a{
    font-weight: bold;
    color: white;
    display: block;
}
footer .content .row .column-4 .subscribe .btn a{
    font-weight: bold;
    color: white;
}
/********************************************************/
footer .bottom p{
    color: #999;
}
footer .bottom p span{
    color: white;
}
footer .bottom .row .social-logo{
    text-align: right;
}
footer .bottom .row .social-logo a {
    position: static;
}
footer .bottom .row .social-logo a i{
     margin-right: 30px;
     font-size: 20px;
}
footer .bottom .row .social-logo a i:hover{
    color: #f14201;
}